#touchMe {
	height: 50px;
	background-color: blue;
	color: white;
	text-align: center;
	line-height: 50px;
	width: 100%;
}

#touchLog {
	border-bottom: 1px solid red;
	padding: 5px;
}

/**
 * Google's Scroller stuff
 */
#touchMe {
	position: absolute;
	top: 0;
}

.SCROLLER_FRAME {
	width: 100%;
	position: absolute;
	top: 50px;
}