html {
	overflow-y: scroll;
	
}

#container {
	overflow: hidden;
}

#wrapper {
}

.row {
	clear: both;
	float: left;
	
	div {
		width: 256px;
		height: 256px;
		display: block;
		float: left;
		//border-right: 1px solid pink;
		//border-bottom: 1px solid pink;
	}
}