#content {
    cursor: move;
    overflow: hidden;
    
	.wrapper {
		display:block;
		margin: 0 auto;
		padding: 0;
	}
	
	.page {
	    border: 1px solid #bbb;
	    margin: 25px 12px 0;
	    float: left;
	    
	    -webkit-box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
	    
	    .column {
	    	display: block;
	    	float: left;
	    	max-width: 256px;
	    	max-height: 256px;
	    }
	    
	    .row {
	    	float: left;
	    	clear: both;
	    	display: block;
	    	height: 256px;
	    }
	    
	    &.right {
	    	margin-left: 0;
	    }
	    
	    &.disabled {
	    	border: 1px solid rgba(0,0,0,0.1);
	    	-webkit-box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
	    }
	}

}

