/* Less Files */
@import "lib/css/reset.less";

/* Vars */
@nostate: rgba(255,0,0,0.1);
@ready: rgba(0,0,255,0.1);
@current: rgba(0,255,0,0.1);
@navigationHeight: 30px;
/**/

html {
	height: 100%;
	background-color: white;
	overflow-y: hidden;
	overflow-x: hidden;
}

body {
	height: 100%;
	background: url("../../lib/img/fabric.jpg") repeat left top;
}

/* Navigation  */
#moo-nav {
	border-bottom: 1px solid rgba(0,0,0,.8);
	background-image: -webkit-linear-gradient(top, #444, #222); /* Chrome 10+, Saf5.1+ */
	-webkit-box-shadow: 0 3px 4px rgba(0,0,0,0.3);
	
	ul {
		display: -webkit-box;
		line-height: @navigationHeight;
		-webkit-box-orient: horizontal;
		
	}
	
	li {
		height: @navigationHeight;
		text-align: center;
		-webkit-box-align: stretch;
		color: #fff;
	}
	
	.previous, .next {
		cursor: pointer;
		z-index: 2;
		-webkit-box-flex: 1;
	}
	
	.current {
		-webkit-box-flex: 10;
	}
	
	.permalink a {
		color: #fff;
		text-decoration: none;
	}
}
/**/

/* Deck */
#moo-deck { // slide viewport
	position: relative;
	width: 960px;
	height: 100%;
	overflow: hidden;
	display: block;
	padding: 1px;
	margin: 0 auto;
	
	section { // slide
		width: 100px;
		height: 100px;
		position: absolute;
		
		-webkit-transition: all .2s ease-in-out;
		
		/* States */
			// nostate - default
			left: 200%;
			background-color: @nostate;
			visibility: hidden;
			
			&.state-ready {
				left: 100%;
				background-color: @ready;
				visibility: hidden;
			}
			
			&.state-current {
				left: 0%;
				background-color: @current;
				visibility: visible;
			}
			
			&.state-ready-viewed {
				left: -100%;
				background-color: @ready;
				visibility: hidden;
			}

		/**/
	}
	

}
/**/